<template>
  <v-navigation-drawer
    id="app-drawer"
    v-model="inputValue"
    app
    dark
    floating
    persistent
    mobile-break-point="991"
    width="260"
  >
    <v-img
      :src="image"
      height="100%"
    >
      <v-layout
        class="fill-height"
        tag="v-list"
        column
      >
        <v-list-tile avatar>
          <v-list-tile-avatar
            color="white"
          >
            <v-img
              :src="logo"
            />
          </v-list-tile-avatar>
          <v-list-tile-title class="title">
            Jobs91
          </v-list-tile-title>
        </v-list-tile>
        <v-divider/>
        <v-list-tile
          v-for="(link, i) in links"
          :key="i"
          :to="link.to"
          :active-class="color"
          avatar
          class="v-list-item"
        >
          <v-list-tile-action>
            <v-icon>{{ link.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-title
            v-text="link.text"
          />
        </v-list-tile>
      </v-layout>
    </v-img>
  </v-navigation-drawer>
</template>

<script>
// Utilities
import {
  mapMutations,
  mapState
} from 'vuex'

export default {
  props: {
    opened: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    logo: 'favicon.ico',
    links: [
      {
        to: '/',
        icon: 'mdi-view-dashboard',
        text: 'Dashboard'
      },
    
      {
        to: '/employees',
        icon: 'mdi-account-group',
        text: 'Employees'
      },
      {
        to: '/employers',
        icon: 'mdi-account-multiple',
        text: 'Employers'
      },
      {
        to: '/documents',
        icon: 'mdi-folder',
        text: 'Documents'
      },
      {
        to: '/jobs',
        icon: 'mdi-account-multiple-plus',
        text: 'Jobs'
      },
      {
        to: '/application',
        icon: 'mdi-account-multiple-check',
        text: 'Applications'
      },
      {
        to: '/review',
        icon: 'mdi-comment-check',
        text: 'Reviews'
      },
      {
        to: '/report',
        icon: 'mdi-book',
        text: 'Reports'
      },
      {
        to: '/settings',
        icon: 'mdi-settings',
        text: 'Settings'
      }

    ]
  }),
  computed: {
    ...mapState('app', ['image', 'color']),
    inputValue: {
      get () {
        return this.$store.state.app.drawer
      },
      set (val) {
        this.setDrawer(val)
      }
    },
    items () {
      return this.$t('Layout.View.items')
    }
  },

  methods: {
    ...mapMutations('app', ['setDrawer', 'toggleDrawer'])
  }
}
</script>

<style lang="scss">
  #app-drawer {
    .v-list__tile {
      border-radius: 4px;

      &--buy {
        margin-top: auto;
        margin-bottom: 17px;
      }
    }
  }
</style>
