<template>
    <v-container fill-height fluid grid-list-xl>

        <v-layout justify-center wrap>
            <v-flex md12>
                <material-card color="red" title="Assign Jobs" text="Assign Jobs to employer">
                    <v-form ref="form" v-model="valid" lazy-validation>
                        <v-container py-0>
                            <v-layout wrap>
                              <!-- <v-flex xs12 md12>
                                <v-flex xs12 md6>
                                     <v-select
                                    :items="employers"
                                    label="Select Old Employer Id" :rules="rules" required
                                  ></v-select>
                                </v-flex>
                              </v-flex> -->
                                <v-flex xs12 md6>
                                     <v-select
                                    :items="jobs"
                                    label="Select Job Id" :rules="rules" required v-model="jobId"
                                  ></v-select>
                                </v-flex>
                                <v-flex xs12 md6>
                                     <v-select
                                    :items="employers"
                                    label="Select New Employer Id" :rules="rules" required v-model="employerId"
                                  ></v-select>
                                </v-flex>
                                <v-flex xs12 text-xs-left>
                                    <v-btn :disabled="!valid" color="success" class="mr-4" @click="validate">
                                        Assign
                                    </v-btn>
                                    <v-btn  @click="$router.go('-1')" class="mx-2" color="error">
                                      Back
                                    </v-btn>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-form>

                </material-card>
            </v-flex>
        </v-layout>
        <v-snackbar :bottom="true" :top="false" :left="false" :right="true" v-model="snackbar" color="success" dark>
            <v-icon color="white" class="mr-3">
                mdi-check
            </v-icon>
            <div>Employer added successfully!</div>
            <v-icon size="16" @click="snackbar = false">
                mdi-close-circle
            </v-icon>
        </v-snackbar>
        <v-snackbar :bottom="true" :top="false" :left="false" :right="true" v-model="snackbarError" color="error" dark>
            <v-icon color="white" class="mr-3">
                mdi-alert
            </v-icon>
            <div>Please try again !</div>
            <v-icon size="16" @click="snackbarError = false">
                mdi-close-circle
            </v-icon>
        </v-snackbar>
        <loader91 v-if="loading"/>
    </v-container>
</template>

<script>
var md5 = require("md5");
export default {
  name:'AssignJobs',
  data: () => ({
      rules: [
        value => !!value || 'Field is required.'
      ],
      valid:true,
      snackbar:false,
      snackbarError:false,
      employers:[],
      jobs:[],
      jobId:'',
      employerId:''
     
  }),

  mounted () {
   this.getEmployerIds ()
   this.getJobIds ()
  },

  methods: {
    async getEmployerIds () {
      let ids = await this.axios.post(
          `${window.serverUrl}api/getEmployerIds`);
      if(ids.data.status) {
        this.employers = ids.data.employer
      }
    },

    async getJobIds () {
      let ids = await this.axios.post(
          `${window.serverUrl}api/getJobIds`);
      if(ids.data.status) {
        this.jobs = ids.data.jobs
      }
    },
    
    async validate (e) {
      e.preventDefault();
      if (this.$refs.form.validate()) {        
       
        let empData = await this.axios.post(
          `${window.serverUrl}api/assignJob`, {
            jobId:this.jobId,
            employerId:this.employerId
          });
          console.log('empData',empData)

        if (empData.data.status) {
          this.snackbar = true
          this.reset()
        } else {
          this.snackbarError = true
          this.$toast.bottom(empData.data.message);
        }
      
      }
    },
    reset () {
      this.$refs.form.reset()
    },
  }
}
</script>
