<template>
  <v-container
    fill-height
    fluid
    grid-list-xl
  >
    <v-layout wrap>
      <v-flex
        sm6
        xs12
        md6
        lg3
        @click="$router.push('/employees')"
      >
        <material-stats-card
          :value="totalEmployeeCount"
          color="green"
          icon="mdi-account-group"
          title="Total Employee"
          sub-icon="mdi-calendar"
          sub-text="Updated 1 min ago"
        />
      </v-flex>

       <v-flex
        sm6
        xs12
        md6
        lg3
        @click="$router.push('/employers')"
      >
        <material-stats-card
          :value="totalEmployerCount"
          color="red"
          icon="mdi-account-multiple"
          title="Total Employer"
          sub-icon="mdi-calendar"
          sub-text="Updated 1 min ago"
        />
      </v-flex>
      

       <v-flex
        sm6
        xs12
        md6
        lg3
        @click="$router.push('/jobs')"
      >
        <material-stats-card
          :value="totalJobsCount"
          color="blue"
          icon="mdi-account-multiple-plus"
          title="Total Jobs"
          sub-icon="mdi-calendar"
          sub-text="Updated 1 min ago"
        />
      </v-flex>

      <v-flex
        sm6
        xs12
        md6
        lg3
        @click="$router.push('/jobs')"
      >
        <material-stats-card
          :value="totalActiveJob"
          color="orange darken-4"
          icon="mdi-spellcheck"
          title="Total Active Jobs"
          sub-icon="mdi-calendar"
          sub-text="Updated 1 min ago"
        />
      </v-flex>

      <v-flex
        sm6
        xs12
        md6
        lg3
        @click="$router.push('/jobs')"
      >
        <material-stats-card
          :value="totalInActiveJob"
          color="light-blue darken-4"
          icon="mdi-close-circle"
          title="Total Inactive Jobs"
          sub-icon="mdi-calendar"
          sub-text="Updated 1 min ago"
        />
      </v-flex>

       <v-flex
        sm6
        xs12
        md6
        lg3
        @click="$router.push('/jobs')"
      >
        <material-stats-card
          :value="totalCompletedJob"
          color="light-green"
          icon="mdi-check-circle"
          title="Total Completed Jobs"
          sub-icon="mdi-calendar"
          sub-text="Updated 1 min ago"
        />
      </v-flex>

      <v-flex
        sm6
        xs12
        md6
        lg3
        @click="$router.push('/application')"
      >
        <material-stats-card
          :value="totalJobAppliedCount"
          color="pink darken-4" 
          icon="mdi-tie"
          title="Total Applications"
          sub-icon="mdi-calendar"
          sub-text="Updated 1 min ago"
        />
      </v-flex>
      <v-flex
        sm6
        xs12
        md6
        lg3
        @click="$router.push('/application')"
      >
        <material-stats-card
          :value="qualifiedJobs"
          color="lime darken-4"
          icon="mdi-star"
          title="Qualified Applications"
          sub-icon="mdi-calendar"
          sub-text="Updated 1 min ago"
        />
      </v-flex>

       <v-flex
        sm6
        xs12
        md6
        lg3
        @click="$router.push('/application')"
      >
        <material-stats-card
          :value="notqualifiedJosb"
          color="deep-orange darken-4"
          icon="mdi-star-half"
          title="Not Qualified Applications"
          sub-icon="mdi-calendar"
          sub-text="Updated 1 min ago"
        />
      </v-flex>
      <v-flex
        sm6
        xs12
        md6
        lg3
        @click="$router.push('/review')"
      >
        <material-stats-card
          :value="totalReviewCount"
          color="pink"
          icon="mdi-comment-check"
          title="Total Review"
          sub-icon="mdi-calendar"
          sub-text="Updated 1 min ago"
        />
      </v-flex>

       <v-flex
        sm6
        xs12
        md6
        lg3
        @click="$router.push('/report')"
      >
        <material-stats-card
          :value="totalReportCount"
          color="purple"
          icon="mdi-book"
          title="Total Report"
          sub-icon="mdi-calendar"
          sub-text="Updated 1 min ago"
        />
      </v-flex>

      <v-flex
        sm6
        xs12
        md6
        lg3
        @click="$router.push('/documents')"
      >
        <material-stats-card
          :value="totalDocumentsCount"
          color="brown darken-4"
          icon="mdi-folder"
          title="Total Documents"
          sub-icon="mdi-folder"
          sub-text="Updated 1 min ago"
        />
      </v-flex>

    </v-layout>
    <loader91 v-if="loading"/>    
  </v-container>
</template>

<script>
import {
  mapState
} from 'vuex'

export default {
  data () {
    return {
      totalEmployeeCount: '0',
      totalEmployerCount: '0',
      totalJobsCount: '0',
      totalJobAppliedCount: '0',
      qualifiedJobs:'0',
      notqualifiedJosb:'0',
      loading:true,
      totalActiveJob:'0',
      totalInActiveJob:'0',
      totalReviewCount:'0',
      totalReportCount:'0',
      totalCompletedJob:'0',
      totalDocumentsCount:'0',
    }
  },
  
  computed: {
    ...mapState('app', ['login']),

    login: {
      get () {
        return this.$store.state.app.login
      }
    }
  },
  async mounted () {
    this.totalEmployee()
    this.totalEmployer()
    this.totalJobs()
    this.totalJobApplied()
    this.totalReview()
    this.totalReport()
    this.totalDocuments()
    this.loading = false
    
  },

  methods: {
    async totalReview() {
      let emp = await this.axios.post(`${window.serverUrl}api/totalReviewCount`)
      if (emp.data.status) {
        this.totalReviewCount = emp.data.review.toString()
      }
    },

    async totalReport() {
      let emp = await this.axios.post(`${window.serverUrl}api/totalReportCount`)
      if (emp.data.status) {
        this.totalReportCount = emp.data.report.toString()
      }
    },

    async totalEmployee() {
      let emp = await this.axios.post(`${window.serverUrl}api/totalEmployeeCount`)
      if (emp.data.status) {
        this.totalEmployeeCount = emp.data.employee.toString()
      }
    },

     async totalDocuments() {
      let emp = await this.axios.post(`${window.serverUrl}api/totalDocumentsCount`)
      if (emp.data.status) {
        this.totalDocumentsCount = emp.data.documents.toString()
      }
    },

    async totalEmployer () {
      let emp = await this.axios.post(`${window.serverUrl}api/totalEmployerCount`)
      if (emp.data.status) {
        this.totalEmployerCount = emp.data.employer.toString()
      }
    },

    async totalJobs () {
      let emp = await this.axios.post(`${window.serverUrl}api/totalJobsCount`)
      if (emp.data.status) {
        this.totalJobsCount = emp.data.jobs.toString()
        this.totalActiveJob = emp.data.active.toString()
        this.totalInActiveJob = emp.data.inactive.toString()
        this.totalCompletedJob = emp.data.completed.toString()
        
      }
    },

    async totalJobApplied () {
      let emp = await this.axios.post(`${window.serverUrl}api/totalJobAppliedCount`)
      if (emp.data.status) {
        this.totalJobAppliedCount = emp.data.jobApplied.toString()
        this.qualifiedJobs = emp.data.qualifiedJobs.toString()
        this.notqualifiedJosb = emp.data.notqualifiedJosb.toString()
      }
    },

  }
}
</script>
