<template>
  <v-container
    fill-height
    70f width="100"
    grid-list-xl
  >
    <v-layout
      justify-center
      wrap
    >
      <v-flex
        md12
      >
        <material-card
          color="green"
          title="Documents"
          text="All documents showing here"
        >
          <v-text-field label="Search - All Fields" v-model="search"></v-text-field>
          <v-data-table 
            :headers="headers" 
            :items="items" 
            :pagination.sync="pagination" 
            :total-items="totalitems" 
            :loading="loading" 
            class="elevation-4">
            <template
              slot="headerCell"
              slot-scope="{ header }"
            >
              <span
                class="subheading font-weight-light text-success text--darken-3"
                v-text="header.text"
              />
            </template>
            <template
              slot="items"
              slot-scope="{ item }"
            >
              <td>{{ item.id }}</td>
              <td>{{ item.userName }}</td>
              <td>{{ item.phone }}</td>
              <td>{{ item.qualification.name }}</td>

              <td>
                <a :href="item.tenthmarksheet" target="_blank"><img :src="item.tenthmarksheet" height="70" width="100"/> </a>
                  <span v-if="item.tenthmarksheet!=''">
                  <v-btn color="success" @click="verify(item,'tenthmarksheetVerified')" fab small dark v-if="item.tenthmarksheetVerified=='No' || item.tenthmarksheetVerified==''">
                    <v-icon>mdi-checkbox-marked-circle-outline</v-icon>
                  </v-btn>
                  <v-btn color="danger" fab small dark v-else @click="notverify(item,'tenthmarksheetVerified')">
                    <v-icon>mdi-cancel</v-icon>
                  </v-btn>
                  </span>
                </td>
              <td>
                <a :href="item.twelthmarksheet" target="_blank"><img :src="item.twelthmarksheet" height="70" width="100"/> </a>
                <span v-if="item.twelthmarksheet!=''">
                <v-btn color="success" @click="verify(item,'twelthmarksheetVerified')" fab small dark v-if="item.twelthmarksheetVerified=='No' || item.twelthmarksheetVerified==''">
                    <v-icon>mdi-checkbox-marked-circle-outline</v-icon>
                  </v-btn>
                  <v-btn color="danger" fab small dark v-else @click="notverify(item,'twelthmarksheetVerified')">
                    <v-icon>mdi-cancel</v-icon>
                  </v-btn>
                  
                  </span>
                </td>
              <td>
                <a :href="item.graduate" target="_blank"><img :src="item.graduate" height="70" width="100"/> </a>
                <span v-if="item.graduate!=''">
                <v-btn color="success" @click="verify(item,'graduateVerified')" fab small dark v-if="item.graduateVerified=='No' || item.graduateVerified==''">
                    <v-icon>mdi-checkbox-marked-circle-outline</v-icon>
                  </v-btn>
                  <v-btn color="danger" fab small dark v-else  @click="notverify(item,'graduateVerified')">
                    <v-icon>mdi-cancel</v-icon>
                  </v-btn>
                  
                  </span>
                </td>
              <td>
                <a :href="item.postGraduate" target="_blank"><img :src="item.postGraduate" height="70" width="100"/> </a>
                <span v-if="item.postGraduate!=''">
                <v-btn color="success" @click="verify(item,'postGraduateVerified')" fab small dark v-if="item.postGraduateVerified=='No' || item.postGraduateVerified==''">
                    <v-icon>mdi-checkbox-marked-circle-outline</v-icon>
                  </v-btn>
                  <v-btn color="danger" fab small dark v-else @click="notverify(item,'postGraduateVerified')">
                    <v-icon>mdi-cancel</v-icon>
                  </v-btn>
                  
                  </span>
                </td>
              <td>
                <a :href="item.doctorate" target="_blank"><img :src="item.doctorate" height="70" width="100"/> </a>
                <span v-if="item.doctorate!=''">
                <v-btn color="success" @click="verify(item,'doctorateVerified')" fab small dark v-if="item.doctorateVerified=='No' || item.doctorateVerified==''">
                    <v-icon>mdi-checkbox-marked-circle-outline</v-icon>
                  </v-btn>
                  <v-btn color="danger" fab small dark v-else @click="notverify(item,'doctorateVerified')">
                    <v-icon>mdi-cancel</v-icon>
                  </v-btn>
                  
                  </span>
                </td>
              <td>
                <a :href="item.pancard" target="_blank"><img :src="item.pancard" height="70" width="100"/> </a>
                <span v-if="item.pancard!=''">
                <v-btn color="success" @click="verify(item,'pancardVerified')" fab small dark v-if="item.pancardVerified=='No' || item.pancardVerified==''">
                    <v-icon>mdi-checkbox-marked-circle-outline</v-icon>
                  </v-btn>
                  <v-btn color="danger" fab small dark v-else @clickun="notverify(item,'pancardVerified')">
                    <v-icon>mdi-cancel</v-icon>
                  </v-btn>
                  
                  </span>
                </td>
              <td>
                <a :href="item.dlfront" target="_blank"><img :src="item.dlfront" height="70" width="100"/> </a>
                <span v-if="item.dlfront!=''">
                <v-btn color="success" @click="verify(item,'dlfrontVerified')" fab small dark v-if="item.dlfrontVerified=='No' || item.dlfrontVerified==''">
                    <v-icon>mdi-checkbox-marked-circle-outline</v-icon>
                  </v-btn>
                  <v-btn color="danger" fab small dark v-else @clickun="notverify(item,'dlfrontVerified')">
                    <v-icon>mdi-cancel</v-icon>
                  </v-btn>
                  
                  </span>
                </td>
              <td>
                <a :href="item.dlback" target="_blank"><img :src="item.dlback" height="70" width="100"/> </a>
                <span v-if="item.dlback!=''">
                <v-btn color="success" @click="verify(item,'dlbackVerified')" fab small dark v-if="item.dlbackVerified=='No' || item.dlbackVerified==''">
                    <v-icon>mdi-checkbox-marked-circle-outline</v-icon>
                  </v-btn>
                  <v-btn color="danger" fab small dark v-else @click="notverify(item,'dlbackVerified')">
                    <v-icon>mdi-cancel</v-icon>
                  </v-btn>
                  
                  </span>
                </td>
              <td>
                <a :href="item.adharfront" target="_blank"><img :src="item.adharfront" height="70" width="100"/> </a>
                <span v-if="item.adharfront!=''">
                <v-btn color="success" @click="verify(item,'adharfrontVerified')" fab small dark v-if="item.adharfrontVerified=='No' || item.adharfrontVerified==''">
                    <v-icon>mdi-checkbox-marked-circle-outline</v-icon>
                  </v-btn>
                  <v-btn color="danger" fab small dark v-else @click="notverify(item,'adharfrontVerified')">
                    <v-icon>mdi-cancel</v-icon>
                  </v-btn>
                  
                  </span>
                </td>
              <td>
                <a :href="item.adharback" target="_blank"><img :src="item.adharback" height="70" width="100"/> </a>
                <span v-if="item.adharback!=''">
                <v-btn color="success" @click="verify(item,'adharbackVerified')" fab small dark v-if="item.adharbackVerified=='No' || item.adharbackVerified==''">
                    <v-icon>mdi-checkbox-marked-circle-outline</v-icon>
                  </v-btn>
                  <v-btn color="danger" fab small dark v-else @click="notverify(item,'adharbackVerified')">
                    <v-icon>mdi-cancel</v-icon>
                  </v-btn>
                  
                  </span>
                </td>
              
              <td>{{ item.isVerified }}</td>
              <td>{{ item.updatedAt | moment("DD/MM/YYYY") }} </td>
              <td>
               <template v-slot:job.action="{ item }">
                <div class="" @click="editItem(item)">
                  <v-btn color="success" fab small dark>
                    <v-icon>mdi-pencil</v-icon>
                  </v-btn>
                </div>
              </template>
              </td>
            </template>
          </v-data-table>
        </material-card>
      </v-flex>
    </v-layout>
    
    <loader91 v-if="loading"/>
  </v-container>
</template>

<script>
export default {
  name:'Documents',

  data: () => ({
    kkey:1,
    headers: [
      {
        text: 'Id',
        value: 'id',
        align: 'left'
      },
      {
        text: 'User Name',
        value: 'userName',
        align: 'left'
      },
      {
        text: 'Phone',
        value: 'phone',
        align: 'left'
      },
      {
        text: 'Qualification',
        value: 'qualification',
        align: 'left'
      },
      {
        text: '10th Marksheet',
        value: 'tenthmarksheet',
        align: 'left'
      },
       {
        text: '12th Marksheet',
        value: 'twelthmarksheet',
        align: 'left'
      },
      {
        text: 'Graduate ',
        value: 'graduate',
        align: 'left'
      },
      {
        text: 'Post Graduate',
        value: 'postGraduate',
        align: 'left'
      },
      {
        text: 'Doctorate',
        value: 'doctorate',
        align: 'left'
      },
        {
        text: 'PAN',
        value: 'pancard',
        align: 'left'
      },
      {
        text: 'DL Front',
        value: 'dlfront',
        align: 'left'
      },
       {
        text: 'DL Back',
        value: 'dlback',
        align: 'left'
      },
       {
        text: 'Aadhar Front',
        value: 'adharfront',
        align: 'left'
      },
       {
        text: 'Adhar Back',
        value: 'adharback',
        align: 'left'
      },
   
      {
        text: ' User Verified',
        value: 'isVerified',
        align: 'left'
      },
      {
        text: 'Updated Date',
        value: 'updatedAt',
        align: 'left'
      },
      { text: 'Actions', value: 'action', sortable: false }
    ],
    search: "",
    totalitems: 0,
    items: [],
    loading: true,
    pagination: {},
  }),

  watch: {
    params: {
      handler() {        
          this.getDataFromApi().then(data => {
            this.items = data.items;
            this.totalitems = data.total;
          });
      },
      deep: true      
    }
  },

  async mounted () {
    this.totalitems = await this.totalDocuments();
    this.getDataFromApi().then(data => {
      this.items = data.items;
      this.totalitems = data.total;
    });
  },

  computed: {
      params(nv) {
          return {
              ...this.pagination,
              query: this.search
          };
      }
  },

  methods: {
    async notverify(item, varName) {
       this.loading = true;
        let verify = await this.axios.post(`${window.serverUrl}api/verifyDocument`, {
          userId: item.id,
          documentName : varName,
          verify:false,
        })
        if (verify.data.status) {
          let index = this.items.findIndex(x => x.id ===item.id);
          this.items[index][varName] = "No"
          this.loading = false;        
        }else {
          this.loading = false;
        }
    },

    async verify(item, varName) {
      this.loading = true;
      let verify = await this.axios.post(`${window.serverUrl}api/verifyDocument`, {
        userId: item.id,
        documentName : varName,
        verify:true,
      })
      if (verify.data.status) {
        let index = this.items.findIndex(x => x.id ===item.id);
        this.items[index][varName] = "Yes"
        this.loading = false;        
      }else {
        this.loading = false;
      }
    },

    
    //   this.currentvarName = varName;
    //   this.kkey+=1
    // },

    editItem(item) {
      this.$router.push(`edit-employee/${item.id}`)
    },
    async getDataFromApi() {
      this.loading = true;
      return new Promise(async (resolve, reject) => {
          const {
              sortBy,
              descending,
              page,
              rowsPerPage
          } = this.pagination;
          let search = this.search.trim().toLowerCase();

          let items = await this.getDocuments();

          if (search) {
              items = items.filter(item => {
                  return Object.values(item)
                      .join(",")
                      .toLowerCase()
                      .includes(search);
              });
          }

          if (this.pagination.sortBy) {
              items = items.sort((a, b) => {
                  const sortA = a[sortBy];
                  const sortB = b[sortBy];

                  if (descending) {
                      if (sortA < sortB) return 1;
                      if (sortA > sortB) return -1;
                      return 0;
                  } else {
                      if (sortA < sortB) return -1;
                      if (sortA > sortB) return 1;
                      return 0;
                  }
              });
          }
          
          const total = this.totalitems
          setTimeout(() => {
              this.loading = false;
              resolve({
                  items,
                  total
              });
          }, 300);
      });
    },

    async totalDocuments() {
      let emp = await this.axios.post(`${window.serverUrl}api/totalDocumentsCount`)
      if (emp.data.status) {
        return emp.data.documents
      }else {
        this.loading = false;
      }
    },

    async getDocuments() {
      let employees = await this.axios.post(`${window.serverUrl}api/totalDocuments`,this.pagination)
      if (employees.data.status) {          
        return employees.data.employee
      }else {
        this.loading = false;
      }
    }
  }
}
</script>
