<template>
    <v-container fill-height fluid grid-list-xl>
        <v-layout justify-center wrap>
            <v-flex md12>
                <material-card color="blue" title="Employer form" text="Fill employer's details" >
                    <v-form ref="form" v-model="valid" lazy-validation>
                        <v-container py-0>
                            <v-layout wrap>

                                <v-flex xs12 md6>
                                    <v-text-field v-model="formData.organization" :rules="rules" class="green-input" label="Organization Name" />
                                </v-flex>

                                <v-flex xs12 md6>
                                    <v-text-field v-model="formData.contactPerson" :rules="rules" class="green-input" label="Contact Person" />
                                </v-flex>

                                <v-flex xs12 md6 v-if="$route.meta.name != 'edit'">
                                    <v-text-field v-model="formData.email" :rules="emailRules" class="green-input" label="Email" />
                                </v-flex>

                                <v-flex xs12 md6 v-if="$route.meta.name != 'edit'">
                                    <v-text-field v-model="formData.phone" :rules="[rule2.required, rule2.min]" class="green-input" label="Contact" />
                                </v-flex>

                                <v-flex xs12 md6>
                                  <v-select
                                  v-model="formData.canImport"
                                  :items="['Yes', 'No']"
                                  menu-props="auto"
                                  label="Employer Can Import CSV"
                                ></v-select>
                                </v-flex>
                                
                                <v-flex xs12 md6 v-if="$route.meta.name != 'edit'">
                                    <v-text-field :type="show4 ? 'text' : 'password'" :append-icon="show4 ? 'mdi-eye' : 'mdi-eye-off'" @click:append="show4 = !show4" v-model="password" :rules="rules" class="green-input" label="Enter Password" />
                                </v-flex>
                              
                                <v-flex xs12 md6 v-if="$route.meta.name != 'edit'">
                                    <v-text-field :type="show4 ? 'text' : 'password'" :append-icon="show4 ? 'mdi-eye' : 'mdi-eye-off'" @click:append="show4 = !show4" v-model="confirmPassword" :rules="rules" class="green-input" label="Reenter Password" />
                                </v-flex>                                

                                <v-flex xs12 text-xs-left>
                                  <v-btn :disabled="!valid" color="success" class="mr-4" @click="validate">
                                      Save
                                  </v-btn>
                                  <v-btn  @click="$router.go('-1')" class="mx-2" color="error">
                                    Back
                                  </v-btn>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-form>

                </material-card>
            </v-flex>
        </v-layout>
        <v-snackbar :bottom="true" :top="false" :left="false" :right="true" v-model="snackbar" color="success" dark>
            <v-icon color="white" class="mr-3">
                mdi-check
            </v-icon>
            <div>Data saved successfully!</div>
            <v-icon size="16" @click="snackbar = false">
                mdi-close-circle
            </v-icon>
        </v-snackbar>
        <v-snackbar :bottom="true" :top="false" :left="false" :right="true" v-model="snackbarError" color="error" dark>
            <v-icon color="white" class="mr-3">
                mdi-alert
            </v-icon>
            <div>Please try again !</div>
            <v-icon size="16" @click="snackbarError = false">
                mdi-close-circle
            </v-icon>
        </v-snackbar>
        <loader91 v-if="loading"/>
    </v-container>
</template>

<script>
var md5 = require("md5");
export default {
  name:'EmployerForm',
  data: () => ({
    rules: [
        value => !!value || 'Field is required.',
        value => (value && value.length >= 5) || 'Min 5 characters',
      ],
      rule2: {
        required: value => !!value || 'Field is required.',
        min: v => (v && v.length == 10) || 'Exact 10 characters'
      },
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+/.test(v) || 'E-mail must be valid',
      ],
      show4:false,
      valid:true,
      snackbar:false,
      snackbarError:false,
      password: "",
      confirmPassword: "",
      formData: {
        // id:"",
        organization: "",
        email: "",
        phone: "",
        hash: "",
        contactPerson: "",
        canImport:"No"
      },
      loading:false,

     
  }),

  async mounted () {
    if(this.$route.meta.name == 'edit') {
    var empid = this.$route.params.id
    var employer = await this.getEmployerById(empid)
      if(employer) {
        this.formData.id = employer.id
        this.formData.organization = employer.companyName
        this.formData.email = employer.email
        this.formData.phone = employer.phone
        this.formData.contactPerson = employer.contactPerson
        this.formData.canImport = employer.canImport
      }
    }
  },

  methods: {

    async getEmployerById (id) {
      let emp = await this.axios.post(`${window.serverUrl}api/getEmployerById`,{id:id})   
      if (emp.data.status) {
        return emp.data.employer
      } else {
        return false
      }
    },

    async validate (e) {
      e.preventDefault();
      if (this.$refs.form.validate()) {
        this.loading = true
        if(this.$route.meta.name == 'edit') {
          
          let empData = await this.axios.post(
            `${window.serverUrl}api/updateEmployer`,
            this.formData
          );
          if(empData.data.status) {
            this.snackbar = true
            this.loading = false
          }else {
            this.snackbarError = true
            this.loading = false
          }

        } else {
          if(this.password!==''&&this.confirmPassword!=='') {
            let passOne = md5(this.password);
            let passTwo = md5(this.confirmPassword);

            if (passOne == passTwo) {
              this.formData.hash = passTwo;
              let empData = await this.axios.post(
                `${window.serverUrl}api/register`,
                this.formData
              );

              if (empData.data.status) {
                this.snackbar = true
                this.reset()
                this.loading = false
              } else {
                this.snackbarError = true
                this.$toast.bottom(empData.data.message);
                this.loading = false
              }
            } else {
              this.snackbarError = true
              this.$toast.bottom("Password do not match.");
              this.loading = false
            }
          } else {
            this.snackbarError = true
            this.loading = false
            this.$toast.bottom("Password can not be empty.");
          }
        }
      }
    },
    reset () {
      this.$refs.form.reset()
    },
  }
}
</script>
