<template>
    <v-container fill-height fluid grid-list-xl>

        <v-layout justify-center wrap>
            <v-flex md12>
                <material-card color="blue" title="Employee form" text="Fill employee's details" >
                    <v-form ref="form" v-model="valid" lazy-validation>
                        <v-container py-0>
                            <v-layout wrap>

                                <v-flex xs12 md6>
                                  <v-select
                                  v-model="formData.isVerified"
                                  :items="['Yes', 'No']"
                                  label="Verified"
                                  dense
                                ></v-select>
                                 
                                </v-flex>

                                <v-flex xs12 text-xs-left>
                                  <v-btn :disabled="!valid" color="success" class="mr-4" @click="validate">
                                      Save
                                  </v-btn>
                                  <v-btn  @click="$router.go('-1')" class="mx-2" color="error">
                                    Back
                                  </v-btn>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-form>

                    <v-container py-0 v-if="document">
                        <v-layout wrap v-if="document!=='' && document!==null">
                          <v-flex xs12 md6>
                            <a :href="document" target="_blank">
                              <img :src="document" alt="document" width="200">
                            </a>                          
                          </v-flex>
                      </v-layout>
                  </v-container>

                </material-card>
            </v-flex>
        </v-layout>
        <v-snackbar :bottom="true" :top="false" :left="false" :right="true" v-model="snackbar" :color="snackbarcolor" dark>
            <v-icon color="white" class="mr-3">
                mdi-check
            </v-icon>
            <div>{{snackbarMessage}}</div>
            <v-icon size="16" @click="snackbar = false">
                mdi-close-circle
            </v-icon>
        </v-snackbar>
        <loader91 v-if="loading"/>
    </v-container>
</template>

<script>
var md5 = require("md5");
export default {
  name:'EmployeeForm',

  data: () => ({
    valid:true,
    snackbar:false,
    formData: {
      isVerified:"No"
    },
    loading:false,
    snackbarMessage: '',
    snackbarcolor: '', 
    document:null
  }),

  async mounted () {
    if(this.$route.meta.name == 'edit') {
    var empid = this.$route.params.id
    var employee = await this.getEmployeeById(empid)
    console.log(employee)
      if(employee) {
        this.document = employee.document
        this.formData.id = employee.id
        if(employee.isVerified !== undefined) this.formData.isVerified = employee.isVerified
      }
    }
  },

  methods: {

    async getEmployeeById (id) {
      let emp = await this.axios.post(`${window.serverUrl}api/getEmployeeById`,{id:id})   
      if (emp.data.status) {
        return emp.data.employee
      } else {
        return false
      }
    },

    async validate (e) {
      e.preventDefault();
      if (this.$refs.form.validate()) {
        this.loading = true
        let empData = await this.axios.post(
          `${window.serverUrl}api/updateEmployee`,
          this.formData
        );
        if(empData.data.status) {
          this.snackbar = true
          this.snackbarMessage = 'Employee updated successfully!';
          this.snackbarcolor = 'success';
          this.loading = false
        }else {
          this.snackbar = true
          this.snackbarMessage = 'Please try again!';
          this.snackbarcolor = 'danger';
          this.loading = false
        }       
      }
    },
    reset () {
      this.$refs.form.reset()
    },
  }
}
</script>
