<template>
  <v-container
    fill-height
    fluid
    grid-list-xl
  >
    <v-layout
      justify-center
      wrap
    >
      <v-flex
        md12
      >
       
          <v-btn  @click="$router.push('add-employer')" class="mx-2" color="blue">
            Add Employer
          </v-btn>
           <v-btn  @click="$router.push('assign-jobs')" class="mx-2" color="red">
            Assign jobs
          </v-btn>
                 
      
        <material-card
          color="purple"
          title="Employers"
          text="All employers showing here"
        >
          <v-text-field class="purple-input" label="Search - All Fields" v-model="search"></v-text-field>
           <v-data-table 
            :headers="headers" 
            :items="items" 
            :pagination.sync="pagination" 
            :total-items="totalitems" 
            :loading="loading" 
            :state-save = true            
            class="elevation-4">
            <template
              slot="headerCell"
              slot-scope="{ header }"
            >
              <span
                class="subheading font-weight-light text-primary text--darken-3"
                v-text="header.text"
              />
            </template>
            <template
              slot="items"
              slot-scope="{ item }"
            >
              <td>{{ item.id }}</td>
              <td>{{ item.companyName }}</td>
              <td>{{ item.contactPerson }}</td>
              <td>{{ item.email }}</td>
              <td>{{ item.phone }}</td>
              <td>{{ item.postedJobs.length }}</td>
              <td>{{ item.canImport }}</td>
              <td>{{ item.createdAt | moment("DD/MM/YYYY") }} </td>
              <td>
               <template v-slot:job.action="{ item }">
                <div class="" @click="editItem(item)">
                  <v-btn color="success" fab small dark>
                    <v-icon>mdi-pencil</v-icon>
                  </v-btn>
                </div>
                <div class="" >
                  <v-btn @click="notify(item)" :color="getColor(item.isNotified)" fab small dark>
                    <v-icon>mdi-message</v-icon>
                  </v-btn>
                </div>
              </template>
              </td>
            </template>
          </v-data-table>
        </material-card>
      </v-flex>
    </v-layout>
    <v-snackbar :bottom="true" :top="false" :left="false" :right="true" v-model="snackbar" :color="snackbarcolor" dark>
        <v-icon color="white" class="mr-3">
            mdi-alert
        </v-icon>
        <div>{{snackbarMessage}}</div>
        <v-icon size="16" @click="snackbar = false">
            mdi-close-circle
        </v-icon>
    </v-snackbar>
    <loader91 v-if="loading"/>
  </v-container>
</template>

<script>
export default {
  name:'Employers',
  data: () => ({
    snackbar:false,
    headers: [
     {
        text: 'Id',
        value: 'id',
        align: 'left'
      },
      {
        text: 'Company Name',
        value: 'companyName',
        align: 'left'
      },
      {
        text: 'Contact Person',
        value: 'contactPerson',
        align: 'left'
      },
      {
        text: 'Email',
        value: 'email',
        align: 'left'
      },
      {
        text: 'Phone',
        value: 'phone',
        align: 'left'
      },
      {
        text: 'Posted Jobs',
        value: 'postedJobs',
        align: 'left'
      },
       {
        text: 'Can Import',
        value: 'canImport',
        align: 'left'
      },
      {
        text: 'Created Date',
        value: 'createdAt',
        align: 'left'
      },
      { text: 'Actions Buttons', value: 'action', sortable: false }
    ],
    search: "",
    totalitems: 0,
    items: [],
    loading: true,
    pagination: {},
    snackbar:false,
    snackbarMessage: '',
    snackbarcolor: '',
  }),

  watch: {
    params: {
      handler() {        
          this.getDataFromApi().then(data => {
            this.items = data.items;
            this.totalitems = data.total;
          });
      },
      deep: true      
    }
  },

  async mounted () {
    console.log(this.pagination)
    this.totalitems = await this.totalEmployer()
    this.getDataFromApi().then(data => {
      this.items = data.items;
      this.totalitems = data.total;
    });
  },


  computed: {
      params(nv) {
          return {
              ...this.pagination,
              query: this.search
          };
      },
      
  },


  methods: {
    getColor(params) {
      if(params == 'Yes') {
        return 'grey'
      } else {
        return 'orange'
      }
    },
    
    async notify(item) {
      this.loading = true
      if(item.isNotified == 'Yes') {
        this.loading = false
        this.snackbar = true
        this.snackbarMessage = 'Employer already notified';
        this.snackbarcolor = 'info';
      } else {
        let message = 
`Dear ${item.contactPerson},
Greetings from Mall91! \n
App download link: https://drive.google.com/file/d/1O5stp8sPAxnyuiDbEYawEmZxY8onMcbT/view?usp=sharing \n
Login crendentials :
contact- ${item.phone}
email- ${item.email}
password- ${item.phone} \n
You can view all responses, contact candidates and schedule interviews using above account.
Kindly e-mail us if you have any question.\n
Regards
Mall91`;

        let notifyUser = await this.axios.post(`${window.serverUrl}api/notifyEmployer`,{
          isNotified: 'Yes',
          userId: item.id,
          message: message,
          phone: item.phone
        })
        if (notifyUser.data.status) {
          this.loading = false
          this.snackbar = true
          this.snackbarMessage = 'Notificaion sent successfully!';
          this.snackbarcolor = 'success';

          let index = this.items.findIndex(x => x.id ===item.id);
          this.items[index].isNotified = "Yes"
        }
      }
    },

    editItem(item) {
      this.$router.push(`edit-employer/${item.id}`)
    },

    async getDataFromApi() {
      this.loading = true;
      return new Promise(async (resolve, reject) => {
          const {
              sortBy,
              descending,
              page,
              rowsPerPage
          } = this.pagination;
          let search = this.search.trim().toLowerCase();

          let items = await this.totalEmployers();

          if (search) {
              items = items.filter(item => {
                  return Object.values(item)
                      .join(",")
                      .toLowerCase()
                      .includes(search);
              });
          }

          if (this.pagination.sortBy) {
              items = items.sort((a, b) => {
                  const sortA = a[sortBy];
                  const sortB = b[sortBy];

                  if (descending) {
                      if (sortA < sortB) return 1;
                      if (sortA > sortB) return -1;
                      return 0;
                  } else {
                      if (sortA < sortB) return -1;
                      if (sortA > sortB) return 1;
                      return 0;
                  }
              });
          }

          const total = this.totalitems

          setTimeout(() => {
              this.loading = false;
              resolve({
                  items,
                  total
              });
          }, 300);
      });
    },

    async totalEmployer () {
      let emp = await this.axios.post(`${window.serverUrl}api/totalEmployerCount`)
      if (emp.data.status) {
        return emp.data.employer
      }else {
        this.loading = false;
      }
    },

    async totalEmployers () {
      
      let emp = await this.axios.post(`${window.serverUrl}api/totalEmployer`,this.pagination)      
      if (emp.data.status) {
        return  emp.data.employer
      }else {
        this.loading = false;
      }
    }
  }
}
</script>
