<template>
  <v-container
    fill-height
    fluid
    grid-list-xl
  >
    <v-layout
      justify-center
      wrap
    >
      <v-flex
        md12
      >
        <material-card
          color="green"
          title="Employees"
          text="All employees showing here"
        >
          <v-text-field label="Search - All Fields" v-model="search"></v-text-field>
          <v-data-table 
            :headers="headers" 
            :items="items" 
            :pagination.sync="pagination" 
            :total-items="totalitems" 
            :loading="loading" 
            class="elevation-4">
            <template
              slot="headerCell"
              slot-scope="{ header }"
            >
              <span
                class="subheading font-weight-light text-success text--darken-3"
                v-text="header.text"
              />
            </template>
            <template
              slot="items"
              slot-scope="{ item }"
            >
              <td>{{ item.id }}</td>
              <td>{{ item.userName }}</td>
              <td>{{ item.phone }}</td>
              <td>{{ item.usercity }}</td>
              <td>{{ item.walletBalance }}</td>
              <td>{{ item.gemsBalance }}</td>
              <td>{{ item.mcashBalance }}</td>
              <td>{{ item.isVerified }}</td>
              <td>{{ item.createdAt | moment("DD/MM/YYYY") }} </td>
              <td>
               <template v-slot:job.action="{ item }">
                <div class="" @click="editItem(item)">
                  <v-btn color="success" fab small dark>
                    <v-icon>mdi-pencil</v-icon>
                  </v-btn>
                </div>
              </template>
              </td>
            </template>
          </v-data-table>
        </material-card>
      </v-flex>
    </v-layout>
    <loader91 v-if="loading"/>
  </v-container>
</template>

<script>
export default {
  name:'Employees',
  data: () => ({
    headers: [
      {
        text: 'Id',
        value: 'id',
        align: 'left'
      },
      {
        text: 'User Name',
        value: 'userName',
        align: 'left'
      },
      {
        text: 'Phone',
        value: 'phone',
        align: 'left'
      },
      {
        text: 'City',
        value: 'usercity',
        align: 'left'
      },
      ,
      {
        text: 'Wallet Balance',
        value: 'walletBalance',
        align: 'left'
      }
      ,
      {
        text: 'Gems Balance',
        value: 'gemsBalance',
        align: 'left'
      }
      ,
      {
        text: 'Mcash Balance',
        value: 'mcashBalance',
        align: 'left'
      }
      ,
      {
        text: 'Verified',
        value: 'isVerified',
        align: 'left'
      },
      {
        text: 'Created Date',
        value: 'createdAt',
        align: 'left'
      },
      { text: 'Actions', value: 'action', sortable: false }
    ],
    search: "",
    totalitems: 0,
    items: [],
    loading: true,
    pagination: {},
  }),

  watch: {
    params: {
      handler() {        
          this.getDataFromApi().then(data => {
            this.items = data.items;
            this.totalitems = data.total;
          });
      },
      deep: true      
    }
  },

  async mounted () {
    this.totalitems = await this.totalEmployee();
    this.getDataFromApi().then(data => {
      this.items = data.items;
      this.totalitems = data.total;
    });
  },

  computed: {
      params(nv) {
          return {
              ...this.pagination,
              query: this.search
          };
      }
  },

  methods: {
    editItem(item) {
      this.$router.push(`edit-employee/${item.id}`)
    },
    async getDataFromApi() {
      this.loading = true;
      return new Promise(async (resolve, reject) => {
          const {
              sortBy,
              descending,
              page,
              rowsPerPage
          } = this.pagination;
          let search = this.search.trim().toLowerCase();

          let items = await this.getEmployees();

          if (search) {
              items = items.filter(item => {
                  return Object.values(item)
                      .join(",")
                      .toLowerCase()
                      .includes(search);
              });
          }

          if (this.pagination.sortBy) {
              items = items.sort((a, b) => {
                  const sortA = a[sortBy];
                  const sortB = b[sortBy];

                  if (descending) {
                      if (sortA < sortB) return 1;
                      if (sortA > sortB) return -1;
                      return 0;
                  } else {
                      if (sortA < sortB) return -1;
                      if (sortA > sortB) return 1;
                      return 0;
                  }
              });
          }
          
          const total = this.totalitems
          setTimeout(() => {
              this.loading = false;
              resolve({
                  items,
                  total
              });
          }, 300);
      });
    },

    async totalEmployee() {
      let emp = await this.axios.post(`${window.serverUrl}api/totalEmployeeCount`)
      if (emp.data.status) {
        return emp.data.employee
      }else {
        this.loading = false;
      }
    },

    async getEmployees() {
      let employees = await this.axios.post(`${window.serverUrl}api/totalEmployee`,this.pagination)
      if (employees.data.status) {          
        return employees.data.employee
      }else {
        this.loading = false;
      }
    }
  }
}
</script>
