<template>
  <v-container
    fill-height
    fluid
    grid-list-xl
  >
  
    <v-layout
      justify-center
      wrap
    >
      <v-flex
        md12
      >
        <material-card
          color="blue"
          title="Applications"
          text="All job applications are showing here"
        >
         <v-text-field class="info-input" label="Search - Job Title| Company Name| Employer Name| Employer Number" v-model="search"></v-text-field>
          <v-data-table
             :headers="headers" 
            :items="items" 
            :pagination.sync="pagination" 
            :total-items="totalitems" 
            :loading="loading" 
            class="elevation-4">

            <template
              slot="headerCell"
              slot-scope="{ header }"
            >
              <span
                class="subheading font-weight-light text-info text--darken-3"
                v-text="header.text"
              />
            </template>
            <template
              slot="items"
              slot-scope="{ item }"
            >

            <td>{{ item.application.jobId }}</td>
            <td>{{ item.application.employeeId }}</td>
            <td>{{ item.application.qualified }}</td>
            <td>{{ item.application.createdAt | moment("DD/MM/YYYY") }} </td>
            <td>{{ item.jobsDetails.jobTitle }}</td>
            <td>{{ item.jobsDetails.companyName }}</td>
            <td>{{ item.jobsDetails.contactPerson }}</td>
            <td>{{ item.jobsDetails.contactPersonNo }}</td>
            <td>{{ item.employeeDetails.fullName ? item.employeeDetails.fullName : item.employeeDetails.userName }}</td>
            <td>{{ item.employeeDetails.phone }}</td>

            </template>
          </v-data-table>
        </material-card>
      </v-flex>
    </v-layout>
    <loader91 v-if="loading"/>
  </v-container>
</template>

<script>
export default {
  name:'JobsById',
  data: () => ({
    headers: [
      {
        text: 'Job Id',
        value: 'jobId',
        align: 'left'
      },
      {
        text: 'Employee Id',
        value: 'employeeId',
        align: 'left'
      },
      {
        text: 'Is Qualified',
        value: 'qualified',
        align: 'left'
      },    
      {
        text: 'Created Date',
        value: 'createdAt',
        align: 'left'
      },
      {
        text: 'Job Title',
        value: 'jobTitle',
        align: 'left',
        sortable: false,
      },
      {
        text: 'Company Name',
        value: 'companyName',
        align: 'left',
        sortable: false,
      },
      {
        text: 'Employer Name',
        value: 'contactPerson',
        align: 'left',
        sortable: false,
      },
      {
        text: 'Employer No.',
        value: 'contactPersonNo',
        align: 'left',
        sortable: false,
      },
      {
        text: 'Employee Name',
        value: 'fullName',
        align: 'left',
        sortable: false,
      }, 
      {
        text: 'Employee No.',
        value: 'phone',
        align: 'left',
        sortable: false,
      }
           
    ],
    search: "",
    totalitems: 0,
    items: [],
    loading: true,
    pagination: {},
    id:''
  }),

    watch: {
    params: {
      handler() {        
          this.getDataFromApi().then(data => {
            this.items = data.items;
            this.totalitems = data.total;
          });
      },
      deep: true      
    }
  },

  async mounted () {
    this.id = this.$route.params.id
    this.totalitems = await this.totalJobAppliedByJobId()
    this.getDataFromApi().then(data => {
      this.items = data.items;
      this.totalitems = data.total;
    });
  },

  computed: {
    params(nv) {
        return {
            ...this.pagination,
            query: this.search
        };
    }
  },

  // mounted () {
  //   this.id = this.$route.params.id
  //   console.log(this.$route.params.id)
  //   this.appliedJobsByJobId()
  // },

  methods: {

    async getDataFromApi() {
      return new Promise(async (resolve, reject) => {
          const {
              sortBy,
              descending,
              page,
              rowsPerPage
          } = this.pagination;
          let search = this.search.trim().toLowerCase();

          let items = await this.appliedJobsByJobId();

          if (search) {
              items = items.filter(item => {
                  return Object.values(item.jobsDetails)
                      .join(",")
                      .toLowerCase()
                      .includes(search);
              });
          }

          if (this.pagination.sortBy && items) {
              items = items.sort((a, b) => {
                  const sortA = a[sortBy];
                  const sortB = b[sortBy];

                  if (descending) {
                      if (sortA < sortB) return 1;
                      if (sortA > sortB) return -1;
                      return 0;
                  } else {
                      if (sortA < sortB) return -1;
                      if (sortA > sortB) return 1;
                      return 0;
                  }
              });
          }

          // if (rowsPerPage > 0) {
          //     items = items.slice(
          //         (page - 1) * rowsPerPage,
          //         page * rowsPerPage
          //     );
          // }
          
          const total = this.totalitems

          setTimeout(() => {
            this.loading = false;
              resolve({
                  items,
                  total
              });
          }, 300);
      });
    },

    async totalJobAppliedByJobId () {
      let emp = await this.axios.post(`${window.serverUrl}api/countJobAppliedByJobId`,{id:this.id})
      if (emp.data.status) {
        return emp.data.jobApplied
      } else {
        this.loading = false;
      }
    },

    async appliedJobsByJobId () {
      let job = await this.axios.post(`${window.serverUrl}api/appliedJobsByJobId`,{id:this.id,pagination:this.pagination})      
      if (job.data.status) {
        return job.data.applications
      } else {
        this.loading = false;
      }
    }
  }
}
</script>
