<template>
  <v-container
    fill-height
    fluid
    grid-list-xl
  >
  
    <v-layout
      justify-center
      wrap
    >
      <v-flex
        md12
      >
        <material-card
          color="red"
          title="Jobs"
          text="All jobs showing here"
        >
        <v-text-field class="danger-input" label="Search - All Fields" v-model="search"></v-text-field>
          <v-data-table
            :headers="headers" 
            :items="items" 
            :pagination.sync="pagination" 
            :total-items="totalitems" 
            :loading="loading" 
            class="elevation-4">
          >
            <template
              slot="headerCell"
              v-slot:top
              slot-scope="{ header }"
            >
              <span
                class="subheading font-weight-light text-danger text--darken-3"
                v-text="header.text"
              />
            </template>
            <template
              slot="items"
              slot-scope="{ item }"
            >
              <td>{{ item.job.id }}</td>
              <td>{{ item.job.importId }}</td>
              <td>{{ item.applicationCount }}</td>
              <td>{{ item.job.jobTitle }}</td>
              <td>{{ item.job.companyName }}</td>
              <td>{{ item.job.contactPerson }}</td>
              <td>{{ item.job.contactPersonNo }}</td>             
              <template v-slot:job.status="{ item }" >
                <v-select
                v-model="item.job.status"
                :items="['Active', 'Not Active', 'Completed', 'Rejected']"
                menu-props="auto"
                hide-details
                label="Status"
                single-line
                v-on:change="changeStatus(item)"
              ></v-select>
               <td>{{ item.job.source.sourceName.toUpperCase() }}</td>
              </template>
              <td>{{ item.job.createdAt | moment("DD/MM/YYYY") }} </td>
              <td>
               <template v-slot:job.action="{ item }">
                <div class="" @click="$router.push(`jobs/${item.job.id}/application`)">
                  <v-btn color="blue" fab small dark >
                    <v-icon>mdi-account-multiple-check</v-icon>
                  </v-btn>
                </div>
                
                <div class="" @click="$router.push(`jobs/${item.job.id}/review`)">
                  <v-btn color="pink" fab small dark>
                    <v-icon>mdi-comment-check</v-icon>
                  </v-btn>
                </div>
                <div class="" @click="$router.push(`jobs/${item.job.id}/report`)">
                  <v-btn color="purple" fab small dark>
                    <v-icon>mdi-book</v-icon>
                  </v-btn>
                </div>
                <!-- <div class="" @click="deleteItem(item)">
                  <v-btn color="danger" fab small dark>
                    <v-icon>mdi-delete</v-icon>
                  </v-btn>
                </div> -->
                
              </template>
              </td>
            </template>            
          </v-data-table>
        </material-card>
      </v-flex>
    </v-layout>
      <v-snackbar :bottom="true" :top="false" :left="false" :right="true" v-model="snackbar" color="success" dark>
        <v-icon color="white" class="mr-3">
            mdi-check
        </v-icon>
        <div>Job updated successfully!</div>
        <v-icon size="16" @click="snackbar = false">
            mdi-close-circle
        </v-icon>
    </v-snackbar>
    <loader91 v-if="loading"/>
  </v-container>
</template>

<script>
export default {
  name:'Jobs',
  data: () => ({
    headers: [
      {
        text: 'Id',
        value: 'job.id',
        align: 'left'
      },
      {
        text: 'Import Id',
        value: 'importId',
        align: 'left'
      },
      {
        text: 'Applications',
        value: 'applicationCount',
        align: 'left'
      },
      {
        text: 'Job Title',
        value: 'jobTitle',
        align: 'left'
      },
      {
        text: 'Company Name',
        value: 'companyName',
        align: 'left'
      },
      {
        text: 'Contact Person',
        value: 'contactPerson',
        align: 'left'
      },
      {
        text: 'Contact Person No.',
        value: 'contactPersonNo',
        align: 'left'
      },
      {
        text: 'Job Status',
        value: 'status',
        align: 'left'
      },
      {
        text: 'Source',
        value: 'source',
        align: 'left'
      },
      {
        text: 'Created Date',
        value: 'createdAt',
        align: 'left'
      },
      { text: 'Actions Buttons ---', value: 'action', sortable: false }
    ],
    items: [],
    loading: true,
    snackbar:false,
    search: "",
    totalitems: 0,
    items: [],
    pagination: {},
  }),

  watch: {
    params: {
      handler() {        
          this.getDataFromApi().then(data => {            
            this.items = data.items;
            this.totalitems = data.total;
          });
      },
      deep: true      
    }
  },

    computed: {
      params(nv) {
          return {
              ...this.pagination,
              query: this.search
          };
      }
  },


  async mounted () {
    this.totalitems = await this.totalJobsCount()
    this.getDataFromApi().then(data => {
      this.items = data.items;
      this.totalitems = data.total;
    });
  },

  methods: {


     async getDataFromApi() {
      this.loading = true;
      return new Promise(async (resolve, reject) => {
          const {
              sortBy,
              descending,
              page,
              rowsPerPage
          } = this.pagination;
          let search = this.search.trim().toLowerCase();

          let items = await this.totalJobs();

          if (search) {
              items = items.filter(item => {
                  return Object.values(item.job)
                      .join(",")
                      .toLowerCase()
                      .includes(search);
              });
          }

          if (this.pagination.sortBy) {
              items = items.sort((a, b) => {
                  const sortA = a[sortBy];
                  const sortB = b[sortBy];

                  if (descending) {
                      if (sortA < sortB) return 1;
                      if (sortA > sortB) return -1;
                      return 0;
                  } else {
                      if (sortA < sortB) return -1;
                      if (sortA > sortB) return 1;
                      return 0;
                  }
              });
          }

          // if (rowsPerPage > 0) {
          //     items = items.slice(
          //         (page - 1) * rowsPerPage,
          //         page * rowsPerPage
          //     );
          // }
          
          const total = this.totalitems

          setTimeout(() => {
              this.loading = false;
              resolve({
                  items,
                  total
              });
          }, 300);
      });
    },

    async totalJobsCount () {
      let emp = await this.axios.post(`${window.serverUrl}api/totalJobsCount`)
      if (emp.data.status) {
        return emp.data.jobs
      }else {
        this.loading = false;
      }
    },
    async changeStatus(item) {
      let job = await this.axios.post(`${window.serverUrl}api/changeJobStatus`,{
        id:item.job.id,
        job:item.job
      })      
      if (job.data.status) {
        this.snackbar = true
        // this.totalJobs()      
      }else {
        this.loading = false;
      }
    },

    async totalJobs () {
      let job = await this.axios.post(`${window.serverUrl}api/totalJobs`,this.pagination)
      if (job.data.status) {        
        return job.data.jobs
      }else {
        this.loading = false;
      }
    }
  }
}
</script>
