<template>
  <v-container
    fill-height
    fluid
    grid-list-xl
  >
    <v-layout wrap>
      <v-flex
        sm12
        xs12
        md12
        lg12
        class="text-xs-center"
      >
        <material-card class="v-card-profile">
          <v-avatar
            slot="offset"
            class="mx-auto d-block"
            size="130"
          >
            <img
              src="https://scontent-bom1-2.xx.fbcdn.net/v/t1.0-9/70690730_2433278596785603_2045869218607398912_n.jpg?_nc_cat=108&_nc_ohc=VkrSvsKxMAkAX8h0GDc&_nc_ht=scontent-bom1-2.xx&oh=879806960a1052897bc99ad18a6ce003&oe=5E9431EE"
            >
          </v-avatar>
          <v-card-text class="text-xs-center">
            <v-form>
              <v-flex
                xs12
                md12
              >
                <h3 class="card-title font-weight-light">Login to your account</h3>
              </v-flex>
              <v-flex
                xs12
                md12
              >
                <v-text-field
                  :rules="[rules.required, rules.min]"
                  v-model="username"
                  label="Email"
                  hint="At least 6 characters"
                  class="purple-input"/>
              </v-flex>

              <v-flex
                xs12
                md12
              >
                <v-text-field
                  v-model="password"
                  :append-icon="show4 ? 'mdi-eye' : 'mdi-eye-off'"
                  :rules="[rules.required, rules.min]"
                  :type="show4 ? 'text' : 'password'"
                  label="Password"
                  hint="At least 6 characters"
                  @click:append="show4 = !show4" />                
              </v-flex>
              <v-btn
                color="success"
                round
                class="font-weight-light"
                @click="signin"
              > Login </v-btn>
            </v-form>
          </v-card-text>
        </material-card>

      </v-flex>
    </v-layout>
    <v-snackbar
      :bottom="true"
      :top="false"
      :left="false"
      :right="true"
      v-model="snackbar"
      color="error"
      dark
    >
      <v-icon
        color="white"
        class="mr-3"
      >
        mdi-alert
      </v-icon>
      <div>Invalid credentials !</div>
      <v-icon
        size="16"
        @click="snackbar = false"
      >
        mdi-close-circle
      </v-icon>
    </v-snackbar>
    <loader91 v-if="loading"/>
  </v-container>
</template>

<script>
var md5 = require("md5");
import {
  mapMutations
} from 'vuex'

export default {
  data () {
    return {
      username: '',
      password: '',
      show4: false,
      snackbar: false,
      rules: {
        required: value => !!value || 'Field is required.',
        min: v => v.length >= 6 || 'Min 6 characters'
      },
      loading:false
    }
  },

  methods: {
    ...mapMutations('app', ['setLogin']),

     async signin () {
      this.loading = true
      let adminSignin = await this.axios.post(`${window.serverUrl}api/adminSignin`, {
        email: this.username,
        password: md5(this.password)
      })
      
      if (adminSignin.data.status) { 
        localStorage.user = JSON.stringify({
          username: this.username,
          password: md5(this.password)
        })
        this.setLogin(true)
        this.loading = false
        this.$router.push('/')
      } else {
         this.snackbar = true
         this.loading = false
      }
    }

  }
}
</script>
