<template>
  <v-container
    fill-height
    fluid
    grid-list-xl
  >
  
    <v-layout
      justify-center
      wrap
    >
      <v-flex
        md12
      >
        <material-card
          color="purple"
          title="Reports"
          text="All job reports are showing here"
        >
         <v-text-field class="purple-input" label="Search " v-model="search"></v-text-field>
          <v-data-table
             :headers="headers" 
            :items="items" 
            :pagination.sync="pagination" 
            :total-items="totalitems" 
            :loading="loading" 
            class="elevation-4">

            <template
              slot="headerCell"
              slot-scope="{ header }"
            >
              <span
                class="subheading font-weight-light text-primary text--darken-3"
                v-text="header.text"
              />
            </template>
            <template
              slot="items"
              slot-scope="{ item }"
            >
            <td>{{ item.jobId }}</td>
            <td>{{ item.employeeId }}</td>
            <td>{{ item.report }}</td>
            <td>{{ item.createdAt | moment("DD/MM/YYYY") }} </td>
            </template>
          </v-data-table>
        </material-card>
      </v-flex>
    </v-layout>
    <loader91 v-if="loading"/>
  </v-container>
</template>

<script>
export default {
  name:'ReportByJobId',
  data: () => ({
    headers: [
      {
        text: 'Job Id',
        value: 'jobId',
        align: 'left'
      },
      {
        text: 'Employee Id',
        value: 'employeeId',
        align: 'left'
      },
      {
        text: 'Report',
        value: 'report',
        align: 'left'
      },    
      {
        text: 'Created Date',
        value: 'createdAt',
        align: 'left'
      }  
    ],
    search: "",
    totalitems: 0,
    items: [],
    loading: true,
    pagination: {},
    id:''
  }),

    watch: {
    params: {
      handler() {        
          this.getDataFromApi().then(data => {
            this.items = data.items;
            this.totalitems = data.total;
          });
      },
      deep: true      
    }
  },

  async mounted () {
    this.id = this.$route.params.id
    this.totalitems = await this.totalReportCountByJobId()
    this.getDataFromApi().then(data => {
      this.items = data.items;
      this.totalitems = data.total;
    });
  },

  computed: {
    params(nv) {
        return {
            ...this.pagination,
            query: this.search
        };
    }
  },

  // mounted () {
  //   this.id = this.$route.params.id
  //   console.log(this.$route.params.id)
  //   this.appliedJobsByJobId()
  // },

  methods: {
    async getDataFromApi() {
      return new Promise(async (resolve, reject) => {
          const {
              sortBy,
              descending,
              page,
              rowsPerPage
          } = this.pagination;
          let search = this.search.trim().toLowerCase();

          let items = await this.jobReportByJobId();

          if (search) {
              items = items.filter(item => {
                  return Object.values(item)
                      .join(",")
                      .toLowerCase()
                      .includes(search);
              });
          }

          if (this.pagination.sortBy && items) {
              items = items.sort((a, b) => {
                  const sortA = a[sortBy];
                  const sortB = b[sortBy];

                  if (descending) {
                      if (sortA < sortB) return 1;
                      if (sortA > sortB) return -1;
                      return 0;
                  } else {
                      if (sortA < sortB) return -1;
                      if (sortA > sortB) return 1;
                      return 0;
                  }
              });
          }
          
          const total = this.totalitems
          setTimeout(() => {
            this.loading = false;
              resolve({
                  items,
                  total
              });
          }, 300);
      });
    },

    async totalReportCountByJobId () {
      let emp = await this.axios.post(`${window.serverUrl}api/totalReportCountByJobId`,{id:this.id})
      if (emp.data.status) {
        return emp.data.report
      } else {
        this.loading = false;
      }
    },

    async jobReportByJobId () {
      let job = await this.axios.post(`${window.serverUrl}api/jobReportByJobId`,{id:this.id,pagination:this.pagination})      
      if (job.data.status) {
        return job.data.report
      } else {
        this.loading = false;
      }
    }
  }
}
</script>
