<template>
    <v-container fill-height fluid grid-list-xl>
        <v-layout justify-center wrap>
            <v-flex md12>
                <!-- <material-card color="orange" title="Job category" text="Add job categories" >
                    <v-form ref="form" v-model="valid" lazy-validation>
                        <v-container py-0>
                            <v-layout wrap>
                                <v-flex xs12 md6>
                                    <v-text-field v-model="categoryVal" :rules="rules" class="green-input" label="Category Name" />
                                </v-flex>
                                <v-flex xs12 text-xs-left>
                                  <v-btn :disabled="!valid" color="success" class="mr-4" @click="validate">
                                      Save
                                  </v-btn>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-form>
                </material-card> -->

                <material-card color="orange" title="Job title" text="Add job titles" >
                    <v-form ref="formTitle" v-model="validTitle" lazy-validation>
                        <v-container py-0>
                            <v-layout wrap>
                                <v-flex xs12 md6>
                                  <v-select
                                    v-model="category"
                                    :items="categories"
                                    item-text="name"
                                    item-value="id"
                                    label="Select category"
                                    persistent-hint
                                    return-object
                                    single-line
                                    :rules="rules2"
                                  ></v-select>
                                </v-flex>
                                <v-flex xs12 md6>
                                    <v-text-field v-model="title" :rules="rules" class="green-input" label="Job Title" />
                                </v-flex>
                                
                                <v-flex xs12 text-xs-left>
                                  <v-btn :disabled="!validTitle" color="success" class="mr-4" @click="validateTitle">
                                      Save
                                  </v-btn>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-form>
                </material-card>
            </v-flex>
        </v-layout>
        <v-snackbar :bottom="true" :top="false" :left="false" :right="true" v-model="snackbar" :color="snackbarcolor" dark>
            <v-icon color="white" class="mr-3">
                mdi-alert
            </v-icon>
            <div>{{snackbarMessage}}</div>
            <v-icon size="16" @click="snackbar = false">
                mdi-close-circle
            </v-icon>
        </v-snackbar>

        <loader91 v-if="loading"/>
    </v-container>
</template>

<script>
var md5 = require("md5");
import {toProperCase} from "../utils/helper";

export default {
  name:'Settings',

  data: () => ({
      rules: [
        value => !!value || 'Field is required.',
        value => (value && value.length >= 3) || 'Min 3 characters',
      ],
      rules2: [
        value => (value && Object.keys(value).length >= 1) || 'Field is required',
      ],

      valid:true,
      snackbar:false,
      loading:false,
      snackbarMessage: '',
      snackbarcolor: '',
      categoryVal: "",
      validTitle:true,
      title: "",
      categories:[],
      category:{}     
  }),

  async mounted () {
    this.getJobCategory()
  },

  methods: {
    async validate (e) {
      e.preventDefault();
      if (this.$refs.form.validate()) {
        this.loading = true          
        let category = await this.axios.post(`${window.serverUrl}api/addJobCategory`, {
          category: toProperCase(this.categoryVal.trim())
        });
        if (category.data.status) {
          this.snackbar = true
          this.reset()
          this.loading = false
          this.snackbarMessage = 'Category added successfully';
          this.snackbarcolor = 'success';
          this.getJobCategory()
        } else {
          this.snackbar = true
          this.snackbarMessage = 'Please try again';
          this.snackbarcolor = 'danger';
          this.loading = false
        }
      }
    },

    async validateTitle (e) {
      e.preventDefault();
      if (this.$refs.formTitle.validate()) {
        this.loading = true          
        let addtitle = await this.axios.post(`${window.serverUrl}api/addJobTitle`, {
          category: this.category,
          title: toProperCase(this.title.trim())
        });
        if (addtitle.data.status) {
          this.snackbar = true
          this.resetTitle()
          this.loading = false
          this.snackbarMessage = 'Job title added successfully';
          this.snackbarcolor = 'success';
        } else {
          this.snackbar = true
          this.snackbarMessage = 'Please try again';
          this.snackbarcolor = 'danger';
          this.loading = false
        }
      }
    },

    async getJobCategory() {
        let categories = await this.axios.post(`${window.serverUrl}api/getjobcategories`)
        if(categories.data.status) {
            this.categories = categories.data.data
        } else {
            this.$toast.bottom(categories.data.message)
        }
    },

    reset () {
      this.$refs.form.reset()
    },

    resetTitle () {
      this.$refs.formTitle.reset()
    },
  }
}
</script>
