<template>
  <div>
    <v-app v-if="login">
      <core-filter />
      <core-toolbar :title="title"/>
      <core-drawer />
      <v-content>
        <div id="core-view">
          <v-fade-transition mode="out-in">
            <router-view />
          </v-fade-transition>
        </div>
        <core-footer />
      </v-content>
    </v-app>

    <v-app v-else>
      <v-content>
        <div id="core-view">
          <v-fade-transition mode="out-in">
            <router-view />
          </v-fade-transition>
        </div>
      </v-content>
    </v-app>
  </div>
</template>

<script>
import {
  mapState,
  mapMutations
} from 'vuex'

export default {
  data () {
    return {
      title:''
    }
  },

  beforeUpdate ( ) {
    this.title = this.$route.meta.title
  },

  computed: {
    ...mapState('app', ['login'])
  },

  metaInfo () {
    return {
      title: 'Jobs91'
    }
  },

  created () {
    this.checkUser()
  },

  methods: {
    ...mapMutations('app', ['setLogin']),

    checkUser () {
      let user = JSON.parse(localStorage.getItem('user'))
      if (user !== null && Object.keys(user).length > 0) {
        this.setLogin(true)
      }
    }
  }
}
</script>

<style lang="scss">
@import '@/styles/index.scss';

.v-datatable__actions .v-btn__content {
  color: #999 !important;
}
.loader {
  z-index: 999;
}
td div {
    float: left;
}
</style>
